

<template>
    <div class="container">

<header>
  <h1>Fixu Demo Crud</h1>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon class="svg--sm" fill="white" points="0,0 30,100 65,21 90,100 100,75 100,100 0,100"/>
    <polygon class="svg--lg" fill="white" points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100" />
  </svg>
</header>

        <b-navbar toggleable="lg" type="dark" variant="transparent">
          <b-navbar-nav>
            <b-nav-item :to="{ path: '/' }" v-if="$route.fullPath !== '/'">
              <b-button variant="outline-dark">Principal</b-button>
            </b-nav-item>
            <b-nav-item :to="{ path: '/add' }" v-if="$route.fullPath !== '/add'">
              <b-button variant="outline-success">Agregar</b-button>
            </b-nav-item>
          </b-navbar-nav>

        </b-navbar>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {}
</script>
<style>


header {
  position: relative;
  height: 220px;
  background-image: linear-gradient(#ff9d2f, #ff6126);
}

h1 {
  padding: 60px 0;
  font: 44px "Arial";
  text-align: center;
}

header h1 {
  color: white;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}


</style>

