<template>
  <div>
<b-card bg-variant="light">
    <b-row>
      <b-col>
        <b-form-group 
          label="Registros por página"
          label-align="right"
          label-for="selectRowPerPage" 
          label-size="sm"
          label-cols="10"
          content-cols="2">
          <b-form-select 
            id="selectRowPerPage" 
            size="sm"
            :options="[{text:5,value:5},{text:10,value:10},{text:15,value:15}]" 
            v-model="perPage">
          </b-form-select>
        </b-form-group>
      </b-col>
    </b-row>


    <b-table
      class="text-center"
      head-variant="dark"
      striped
      hover
      responsive="sm"
      small
      bordered
      sort-icon-left
      :items="items"
      :fields="fields"
      
      :current-page="currentPage" 
      :per-page="perPage"

      show-empty
      empty-text="No existen registros para mostrar"
      >
        <template v-slot:cell(actions)="row">
            <div>
              <b-button size="sm" variant="success" :to="{name: 'edit', params: { id: row.item.id }}" class="mx-1">
                  Modificar
              </b-button>                                
              <b-button size="sm" variant="danger" @click="deleteItem(row.item, row.index)" class="mx-1">
                  Eliminar
              </b-button>
            </div>
        </template>

    </b-table>


<div class="justify-content-end row my-1 mr-1" v-show="this.items.length > this.perPage">
  <b-pagination size="sm" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" />
</div>


</b-card>
 </div>
</template>

<script>
import axios from 'axios';
import swal from 'sweetalert2';

  export default {
    name: 'AllOutgoingCall',
    data() {
      return {
        fields: ['name', 'phone', 'started_at','finished_at'],
        fields: [
          {
            key: 'name',
            label: 'Nombre',
            sortable: true
          },
          {
            key: 'phone',
            label: 'Teléfono',
            sortable: false
          },
          {
            key: 'started_at',
            label: 'Comienzo',
            sortable: true,
          },
                    {
            key: 'finished_at',
            label: 'Término',
            sortable: true,
          },
          { 
          key: 'actions', 
          label: 'Acciones' 
          }
        ],
        items: [],
        currentPage: 1,
        totalRows: 1,
        perPage: 5

      }
    },
    created(){
        this.fetchOutgoingCalls();
    },
    methods: 
    {
        fetchOutgoingCalls() {
          axios
              .get('api/outgoingcalls')
              .then(res => {
                this.items = res.data;
                this.totalRows = this.items.length;
              }).catch(res => {
                if(res instanceof res) {
                  console.log(res.message);
                } else {
                  console.log(res.data);
                }
              });      
        },
        deleteItem(item,index){
          swal.fire({
              title: 'Desea eliminar este registro?',
              text: "Por favor confirme",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#c82333',
              cancelButtonColor: '#5a6268',
              confirmButtonText: 'Si, eliminar!',
              cancelButtonText: 'Cancelar',
          }).then((result) => {
              if (result.isConfirmed) {
                  axios({
                  method: 'delete',
                  url: 'api/outgoingcall/' + item.id,
                  })
                  .then((response) => {
                      this.fetchOutgoingCalls();
                      swal.fire(
                      'Eliminado!',
                      'El registro seleccionado ha sido eliminado',
                      'success'
                  )

                  })
                  .catch((error) => {
                      console.log(error);
                  })
              }

              
          })
        },
    }
  }
</script>

