<template>
  <div>
    <b-form @submit.prevent="onUpdate">    
      <b-card bg-variant="light">
        <b-form-group
          label-cols-lg="3"
          label="Actualizar de LLamada"
          label-size="lg"
          label-class="font-weight-bold pt-0"
          class="mb-0"
        >
          <b-form-group
            label="Nombre:"
            label-for="nested-name"
            label-cols-sm="3"
            label-align-sm="right"
          >
            <b-form-input 
              id="nested-name" 
              name="name" 
              v-model="form.name" 
              :state="(this.errors.name.length === 0) ? null : false"
              aria-describedby="name-live-feedback">
            </b-form-input>
            <b-form-invalid-feedback id="name-type-live-feedback">
              {{(this.errors.name.length > 0) ? this.errors.name[0] : 0}}
            </b-form-invalid-feedback>   
          </b-form-group>

          <b-form-group
            label="Teléfono:"
            label-for="nested-phone"
            label-cols-sm="3"
            label-align-sm="right"
          >
            <b-form-input 
              id="nested-phone"  
              name="phone" 
              v-model="form.phone" 
              v-facade="'+56-#-####-####'"
              :state="(this.errors.phone.length === 0) ? null : false"
              aria-describedby="phone-live-feedback">
            </b-form-input>
            <b-form-invalid-feedback id="phone-type-live-feedback">
              {{(this.errors.phone.length > 0) ? this.errors.phone[0] : 0}}
            </b-form-invalid-feedback>   
          </b-form-group>

          <b-form-group
            label="Comienzo:"
            label-for="nested-started_at"
            label-cols-sm="3"
            label-align-sm="right"
          >
            <b-form-input 
              type=datetime-local 
              id="nested-started_at" 
              name="started_at" 
              v-model="form.started_at"
              :state="(this.errors.started_at.length === 0) ? null : false"
              aria-describedby="started_at-live-feedback">
            </b-form-input>
            <b-form-invalid-feedback id="started_at-type-live-feedback">
              {{(this.errors.started_at.length > 0) ? this.errors.started_at[0] : 0}}
            </b-form-invalid-feedback>   
          </b-form-group>

          <b-form-group
            label="Término:"
            label-for="nested-finished_at"
            label-cols-sm="3"
            label-align-sm="right"
          >
            <b-form-input 
              type=datetime-local 
              id="nested-finished_at" 
              name="finished_at" 
              v-model="form.finished_at"
              :state="(this.errors.finished_at.length === 0) ? null : false"
              aria-describedby="finished_at-live-feedback">
            </b-form-input>
            <b-form-invalid-feedback id="finished_at-type-live-feedback">
              {{(this.errors.finished_at.length > 0) ? this.errors.finished_at[0] : 0}}
            </b-form-invalid-feedback>   
          </b-form-group>

        </b-form-group>

        <b-row align-h="center">
            <b-col cols="4" xs="4" sm="4" md="3">                            
                <b-button key="btn-save" class="btn-block" type="submit" variant="primary">Actualizar</b-button>
            </b-col>
        </b-row>
      </b-card>
    </b-form>
  </div>
</template>
<script>
import axios from 'axios';
import swal from 'sweetalert2';

export default {
    name: 'EditOutgoingCall',
    data(){
        return {
          form: {
            id: null,
            name: null,
            phone: null,
            started_at: null,
            finished_at: null
          },
          errors: {
            name: [],
            phone: [],
            started_at: [],
            finished_at: []            
          } 
        }        
    },
    created(){
            axios
            .get('api/outgoingcall/edit/' + this.$route.params.id)
            .then(response => {
                this.form = response.data;
                console.log(response.data);
            });
    },
    methods: {
    
        onUpdate(){
            this.resetErrors(this.errors);
            axios
            .put('api/outgoingcall', this.form)
            .then(res => {
                
                swal.fire({
                icon: 'success',
                title: 'Registro Actualizado!',
                confirmButtonText: 'ok'
                });
                this.$router.push('/');
            }).catch(err => {
                this.errors = Object.assign(this.errors, err.response.data.errors);
                console.log(err.response.data.errors);

            });
        },

        resetErrors(obj){
            for(var key in obj){
                obj[key] = [];
            }
        }
    }
}

</script>